@import "compass";
@import "vendor/normalize/normalize";
@import "vendor/greedy/index";
//@import "vendor/font-awesome/font-awesome";


@mixin verticalGrid($ratio: $lineHeightBase) {
  @include background-image(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 96%, rgba(0,0,0,.1) 98%, rgba(0,0,0,.1) 100%, rgba(0,0,0,0)));
  @include background-size($ratio * 1rem $ratio * 1rem);
}

body {
  //@include verticalGrid();
  border-left: 10px solid red;

  @include media(from hand) {
    border-color: orange;
  }
  @include media(from lap) {
    border-color: yellow;
  }
  @include media(from desk) {
    border-color: blue;
  }
}

#page {
  background: $grayLightest;

  .l-boxed & {
    width: $gridWidth;
    margin: 0 auto;
  }
}

.container {
  @extend %grid;
  @include rem(padding, 0 16px);
}

.row {
  @extend %row;
}

.l-main, .l-side {
  @extend .span12;
}

.l-sidebar-right {

  .l-main {
    @extend .lap-span8;
  }

  .l-side {
    @extend .lap-span4;
  }
}

.l-sidebar-left {

  .l-main {
    @extend .lap-span8;
    @extend .lap-push4;
  }

  .l-side {
    @extend .lap-span4;
    @extend .lap-pull8;
  }
}

.l-fullwidth {

  .l-main {
    @extend .lap-span12;
  }

  .l-side {
    display: none;
  }
}

.l-centered {

  .l-main {
    @extend .lap-span8;
    @extend .lap-offset2;
  }

  .l-side {
    display: none;
  }
}