@import "compass"; 
@import "vendor/normalize/normalize";
@import "vendor/greedy/index";
// @import "icons/*.png";
@import "vendor/font-awesome/font-awesome";
@import "vendor/spectrum";
@import "vendor/flexslider";

@import "components/navigation"; 
@import "components/webfonts"; 

@mixin verticalGrid($ratio: $lineHeightBase) {
  @include background-image(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 95%, rgba(0,0,0,.15) 95%, rgba(0,0,0,.15) 100%, rgba(0,0,0,0)));
  @include background-size($ratio * 1.5rem $ratio * 1.5rem);
} 

a { 
  color: $accentColor; 
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.clearfix {
  @extend %clearfix;
}

.settings-container {
  position: fixed;
  @include rem(top, $unit);
  right: 0;
  @include rem(width, 1.5*$unit);
  @include rem(height, 1.5*$unit);
  background: white;
  text-align: center;
  @include rem(font-size, 20px);
  @include transition(all .3s ease-in-out);
  z-index: 9999999999999999;

  .settings-visible & {
    right: 300px;
  }

  a {
    color: $grayDarkest;
    text-decoration: none;
  }
}

.section-title {
  position: relative;
  border-bottom: 1px solid $grayLightest;
  @include rem(padding-bottom, $unit/2);
  @include rem(margin-bottom, $unit);

  &:after {
    content: "";
    position: absolute;
    bottom: -2px; left: 0;
    border-top: 3px solid $accentColor;
    @include rem(width, 48px);
  }
}

.feature-heading {
  display: table;
  @include rem(margin-bottom, $unit);

  .icon-stack {
    display: table-cell;
    vertical-align: top;
  }

  [class*="icon"] {
    color: white;
  }

  .icon-stack-base {
    color: black;
  }
}

.feature-title {
  display: table-cell;
  vertical-align: middle;
}

.work-title {
  border-bottom: 1px solid $grayLightest;
  @include rem(margin-bottom, $unit/2);
}

.work-thumb {
  position: relative;
  display: block;
  overflow: hidden;

  &:hover {

    .work-thumb-overlay {
      left: 0;
      background-color: black;
      background-color: rgba(black, .75);
    }
  }
}

.work-thumb-overlay {
  position: absolute;
  left: 100%; top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
  @include transition(background-color .2s ease-in-out);

  .icon-search {
    position: absolute;
    top: 50%; left: 50%;
    color: white;
    margin-left: -.5em;
    margin-top: -.6em;
  }
}

.widget {
  @include rem(margin-bottom, 2*$unit); 

  ul {
    @extend %unstyled;
  }
}

.widget-title {
  @extend .section-title;
}

.settings-visible {
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(black, 0.25);
    z-index: 999999999;
  }
}

.settings {
  position: absolute;
  top: 0; left: 100%;
  background: white;
  width: 300px;
  height: auto;
  text-align: left;
  padding: 24px;
}

body {
  background: url('../img/bg.jpg') center no-repeat fixed;
  @include background-size(cover);
}

.rhytm-overlay {
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    @include verticalGrid(1/2);
    pointer-events: none;
  }
}

.arrows {
  position: absolute;
  top: 0; right: 0;
}

.carousel-heading {
  position: relative;
}

.carousel-prev, .carousel-next {
  position: absolute;
  @include rem(width, $unit);
  @include rem(height, $unit);
  @include rem(top, 4px);
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: $grayLighter;

  &:hover {
    background-color: $accentColor;
  }
}

.carousel-prev {
  margin-right: 4px;
  @include rem(right, $unit);
}

.carousel-next {
  right: 0;
}

#page { 
  background-color: white;
  @include rem(padding-top, 1.5*$unit);
  border-top: 4px solid $accentColor;
  
  .l-boxed & { 
    width: $gridWidth;  
    @include rem(margin, 2*$unit auto);
  } 
}

.wrapper {
  @include rem(padding-right, 1.5*$unit);
  @include rem(padding-left, 1.5*$unit);
  
  .l-boxed & {
  }
}
 
.container { 
  @extend %grid; 
}

.row { 
  @extend %row;  
} 

.l-main, .l-side {
  @extend %span12;
}

.l-sidebar-right { 

  .l-main {
    @extend %lap-span8;
  }

  .l-side {
    @extend %lap-span4;
  }
}

.l-sidebar-left {

  .l-main {
    @extend %lap-span8;
    @extend %lap-push4;
  }

  .l-side {
    @extend %lap-span4;
    @extend %lap-pull8;
  }
}

.l-fullwidth {

  .l-main {
    @extend %lap-span12;
  }

  .l-side {
    display: none;
  }
}

.l-centered {

  .l-main {
    @extend %lap-span8;
    @extend %lap-offset2;
  }

  .l-side {
    display: none;
  }
}

.site-branding {
  @include rem(margin-bottom, $unit);
}

// ul,
// ol, 
p {
  @include fs(16px);
}

.container-header {
  // @include rem(min-height, 3.5*$unit);
}

%unstyled {
  list-style: none;
  padding-left: 0;
}

%menu-inline {
  @extend %clearfix;
  position: relative;

  & > li {
    display: inline-block;
    float: left;
  }
}

.inverse {
  background: $grayDarkest;

  &, a, %heading {
    color: $grayLightest;
  }
}

.wrapper-footer {
  @include rem(padding-top, $unit);
  @include rem(padding-bottom, $unit);
}

ol.slats {
  padding-left: 0;
  list-style: none;
}

.article-link {
  display: block;
  text-decoration: none;
  color: inherit;

  &:hover {

  }
}

.article-thumb {
  @include rem(width, 5*$unit);
  @include rem(height, 5*$unit);
  float: left;
}

.article-title,
.article-content {
  @include rem(margin-left, 6*$unit);
}

.article-meta {
  @include fs(12px);
  color: $grayLight;

  span {
    margin-right: 1em;
  }

  i {
    margin-right: .5em;
    color: $grayDark;
  }
}

.page {

  ul {
    text-align: center;
  }

  li {
    display: inline-block;
    margin-right: .25em;
  }
  
  a {
    display: block;
    @include rem(padding, $unit/4 $unit/2);
    font-weight: bold;
    background-color: $accentColor;
    color: white;
  }
}   

// @include remux(0, hand, 14px, 18px) {}
// @include remux(hand, lap, 16px, 20px) {}
// @include remux(lap, desk, 18px, 24px) {}
// @include media(desk) {
//   html { 
//     font-size: percentage(24px/16px);
//   }
// }

.flexslider {
  @include rem(margin-bottom, 2*$unit); 
}

#scroll-to-top {
  display: block;
  position: fixed;
  @include rem(bottom, $unit);
  @include rem(right, $unit);
  @include rem(padding-top, 0.45*$unit);
  @include rem(width, 2*$unit);
  @include rem(height, 2*$unit);
  text-align: center;
  background: $accentColor;
  color: white;
}

.align-center {
  text-align: center;
}

.slogan {
  @include rem(margin-bottom, 1.5*$unit);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.block {
  @include rem(margin-bottom, $unit);
  @include rem(padding-top, $unit);
  overflow: hidden;
}

.block-lightest {
  background-color: $grayLightest;
}

.block-darker {
  background-color: $grayDarker;
  @extend .inverse;
}

.block-darkest {
  background-color: $grayDarkest;
  @extend .inverse;
}

.slide-image {
  height: 300px;
  overflow: hidden;
}

.slides:hover {

  .slide-content {
    @include opacity(1);
  }
}

.slide-content {
  position: absolute;
  @include rem(bottom, 2 * $unit);
  @include rem(left, $unit);
  @include rem(padding, $unit);
  background-color: black;
  background-color: rgba(black, .75);
  width: 50%;
  color: white;
  @include opacity(0);
  @include transition(opacity .2s ease-in-out);
}

.slide-title {
  color: white;
}

.breadcrumbs {
  @extend %unstyled;
  @extend %menu-inline;
  margin-bottom: 0;

  li {
    &:before {
      content: "\00BB";
      @include rem(padding, 0 $unit/2);
    }

    &:first-child:before {
      display: none;
    }
  }
}

.page-header {
  @include box-shadow(rgba(black, .75) 0 5px 10px -5px inset);
}
 
.page-title {
  @include rem(padding-bottom, $unit);
}